.background{
  display: grid;
  width: 100vw;
  min-height: 100vh;
  /* background-color: turquoise; */
  grid-template-columns: 1fr 1200px 1fr;
  grid-template-rows: 80vh 1fr;
}
.overview{
  /* background-color: red; */
  max-width: 100%;
  min-height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}
.homepage{
  display: grid;
  grid-column: 2/3;
  grid-row: 1/2;
  /* min-width: 1200px; */
  /* background-color: yellowgreen; */
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  box-shadow: 1px 0px 10px, -1px 0px 10px;
}
.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    grid-column: 1/2;
    grid-row: 1/2;
}
.header-headshot{
    border-style: solid;
    border-width: 1px;
    /* max-width: 160px; */
    grid-row: 2/3;
    grid-column: 2/2;
    scale:1;
}
.menu{
    grid-column: 1/2;
    grid-row: 2/4;
    /* background-color: teal; */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-top-style: solid;
    border-top-width: 1px;
    gap:20px;
    overflow: auto;
}
.content{
    /* background-color: gainsboro; */
    grid-column: 2/4;
    grid-row: 1/4;
    border-left-style: solid;
    border-left-width: 1px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.resume_view{
  min-width: 100%;
  min-height: 85%;
}