.background{
  display: grid;
  width: 100vw;
  min-height: 100vh;
  background-color: #c0b59e;
  grid-template-columns: 1fr 1200px 1fr;
  grid-template-rows: 1fr 80vh 4fr;
}
.overview{
  max-width: 100%;
  min-height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}
.homepage{
  display: grid;
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: #eee;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  box-shadow: 1px 0px 10px, -1px 0px 10px;
  border-radius: 15px;
}
.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    grid-column: 1/2;
    grid-row: 1/2;
}
.header-headshot{
    border-style: solid;
    border-width: 1px;
    grid-row: 2/3;
    grid-column: 2/2;
    scale:1;
}
.menu{
    grid-column: 1/2;
    grid-row: 2/4;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-top-style: solid;
    border-top-width: 1px;
    /* gap:20px; */
    overflow: auto;
}
.content{
    grid-column: 2/4;
    grid-row: 1/4;
    border-left-style: solid;
    border-left-width: 1px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.resume_view{
  min-width: 100%;
  min-height: 85%;
}